[api]
host=127.0.0.1
port=8181

[url]
register_url=/register/%s
dbsync_url=/dbsync/%s
proctask_url=/proctask/%s
action_url=/action/%s
report_url=/report/%s
heartbeat_url=/heartbeat/%s

[interval]
dbsync_time=86400
proctask_time=30
action_time=5
report_time=30
heartbeat_time=60

[god]
etc_dir=/etc/god/

[log]
debug=True